{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "master/02.css" %}">
</head>
<body>


<section id="iterative" class="about-us-page-hwd-section about-us-page-hwd-iterative">
  <div class="tsh-container position-r">
    <div class="tsh-row">
      <div class="tsh-col-12 tsh-col-t-6 sh-col-sd-4">
        <div class="about-us-page-hwd-section__header about-us-page-hwd-iterative__header">
          <h2 class="heading-3 font-default color-default about-us-page-hwd-section__heading" data-number="02">
            About &amp; Our Team </h2>
          <p class="paragraph-3 font-default color-default about-us-page-hwd-section__subtitle">
            Please Tell Us Your Opinion To Imporve Our Website </p>
        </div>
      </div>
    </div>
    <div class="tsh-row">
      <div class="tsh-col-12 tsh-col-sd-6 tsh-col-ld-4">
        <div class="heading-5 font-default color-default text-inherit about-us-page-hwd-iterative__content">
          <p>Adapt to change and stay on the track at the same time.</p>
        </div>
        <ul class="about-us-page-accordion about-us-page-hwd-iterative__accordion" data-accordion="">
          <li class="about-us-page-accordion__item" data-accordion-item="">

            <div class="about-us-page-accordion__body" data-accordion-body="">
              <div class="paragraph-3 font-default color-muted text-inherit">
                <p>Iterations give us the flexibility to easily adapt to change and incorporate new ideas into the development plan.</p>
              </div>
            </div>
          </li>
          <li class="about-us-page-accordion__item" data-accordion-item="">

            <div class="about-us-page-accordion__body" data-accordion-body="">
              <div class="paragraph-3 font-default color-muted text-inherit">
                <p>Issues are identified and resolved during iterations. Business risk is managed through small releases that are verified by the clients every two weeks.</p>
              </div>
            </div>
          </li>
          <li class="about-us-page-accordion__item is-open" data-accordion-item="">


          </li>
        </ul>
      </div>
    </div>
    <div class="about-us-page-hwd-iterative__process">
      <svg id="Process-shape-disabled" width="1379px" height="753px" viewBox="0 0 1379 753" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Process-disabled" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="1920_how_we_deliver" transform="translate(-213.000000, -1671.000000)">
            <g id="Group-3" transform="translate(86.000000, 1460.000000)">
              <g id="Group-2" transform="translate(0.000000, 213.000000)">
                <g id="Shape" transform="translate(128.000000, 0.000000)">
                  <g transform="translate(12.000000, 28.120000)" stroke="#E4E4E4" stroke-linejoin="round">
                    <path class="about-us-page-hwd-iterative__process-line" d="M782.604997,288.149999 C782.604997,388.813322 782.604997,524.789988 782.604997,696.079997" id="Path-Final-disabled" stroke-width="2.0308787"></path>
                    <path class="about-us-page-hwd-iterative__process-line" d="M1252.12,475.514937 C1204.36252,522.316496 1134.86016,552.569998 1061.39494,552.569998 C984.086353,552.569998 914.168827,520.933115 863.905379,469.911525" id="Path-Pre-final-disabled" stroke-width="2.0308787"></path>
                    <path class="about-us-page-hwd-iterative__process-line" d="M863.905379,469.911525 C814.675728,419.939324 784.299997,351.371607 784.299997,275.719999" id="Path-7-disabled" stroke-width="2.0308787"></path>
                    <path class="about-us-page-hwd-iterative__process-line" d="M854.359997,91.5299996 C812.70519,137.433999 786.225362,197.321999 783.169997,263.289999" id="Path-6-disabled" stroke-width="2.0308787"></path>
                    <path class="about-us-page-hwd-iterative__process-line" d="M1047.59,0 C978.428597,2.93528074 915.868506,31.1747058 869.049997,75.7099997" id="Path-5-disabled" stroke-width="2.0308787"></path>
                    <path class="about-us-page-hwd-iterative__process-line" d="M1244.21,70.0599997 C1198.16283,29.0393622 1138.26077,3.04608694 1072.45,0" id="Path-4-disabled" stroke-width="2.0308787"></path>
                    <path class="about-us-page-hwd-iterative__process-line" d="M1336.86999,265.549999 C1334.21441,198.744188 1307.76074,138.030093 1265.68,91.5299996" id="Path-3-disabled" stroke-width="1.52315903" stroke-linecap="round"></path>
                    <path class="about-us-page-hwd-iterative__process-line" d="M1262.29,464.429998 C1306.44138,416.636972 1334.01056,353.387479 1335.73999,283.629999" id="Path-2-disabled" stroke-width="1.52315903" stroke-linecap="round"></path>
                    <path class="about-us-page-hwd-iterative__process-line" d="M-2.27373675e-13,553.88 C472.075722,553.88 957.720288,553.220273 1059.71384,553.220273 C1134.48202,553.220273 1202.34227,523.642286 1252.12,475.729998" id="Path-start-disabled" stroke-width="1.52315903" stroke-linecap="round"></path>
                  </g>
                  <g class="about-us-page-hwd-iterative__process-point" id="End-point-disabled" transform="translate(760.000000, 677.999997)" stroke-linejoin="round">
                    <path d="M10.48771,61.1268537 C24.4713234,75.110467 47.1432403,75.110467 61.1268537,61.1268537 C75.110467,47.1432403 75.110467,24.4713234 61.1268537,10.48771 C47.1432403,-3.49590335 24.4713234,-3.49590335 10.48771,10.48771 C-3.49590335,24.4713234 -3.49590335,47.1432403 10.48771,61.1268537 Z" id="Oval" stroke="#CCCFFA" stroke-width="1.11897756" fill="#FFFFFF" fill-rule="nonzero"></path>
                    <g id="icons/goal" transform="translate(16.903641, 18.903641)" stroke="#000EE6" stroke-linecap="round">
                      <g id="Group" transform="translate(1.491970, 0.000000)">
                        <line x1="14.7845083" y1="17.4781039" x2="21.5251854" y2="10.9221161" id="Stroke-133" stroke-width="1.11897756" fill-rule="nonzero"></line>
                        <polygon id="Stroke-135" stroke-width="1.11897756" fill-rule="nonzero" points="21.525347 10.9220348 22.4438693 5.02197128 27.6981076 1.25887884e-14 28.509994 4.12841684 32.7552311 4.91780464 27.5914717 10.0284803"></polygon>
                        <path d="M31.0242569,13.7874311 C32.7837481,20.2750595 30.0039459,27.1223884 24.1624027,30.6909096 C18.3200516,34.2594307 10.7715273,33.7215077 5.52698317,29.3627849 C0.282439069,25.0040622 -1.44150688,17.8360954 1.2720519,11.6666635 C3.98561069,5.49804537 10.5065534,1.76025342 17.3692155,2.43896418" id="Stroke-137" stroke-width="1.11897756" fill-rule="nonzero"></path>
                        <path d="M24.014809,15.7126422 C24.887284,19.1338652 23.4315433,22.716221 20.3908064,24.6335382 C17.3500695,26.5508554 13.3932338,26.3807708 10.5383018,24.2103612 C7.68336974,22.0391378 6.55884642,18.346105 7.73830335,15.0127726 C8.91695243,11.680254 12.1402628,9.44229884 15.7642654,9.43985744" id="Stroke-139" stroke-width="1.11897756" fill-rule="nonzero"></path>
                        <line x1="7.5048355" y1="30.6801674" x2="6.29144899" y2="35.4002182" id="Stroke-141" stroke-width="1.11897756" fill-rule="nonzero"></line>
                        <line x1="24.4904694" y1="30.6801674" x2="25.7038559" y2="35.4002182" id="Stroke-143" stroke-width="1.11897756" fill-rule="nonzero"></line>
                      </g>
                    </g>
                  </g>
                  <g class="about-us-page-hwd-iterative__process-point" id="Point-7-disabled" transform="translate(849.539997, 471.209998)">
                    <path d="M8.20101013,47.7989899 C19.1356903,58.73367 36.8643097,58.73367 47.7989899,47.7989899 C58.73367,36.8643097 58.73367,19.1356903 47.7989899,8.20101013 C36.8643097,-2.73367004 19.1356903,-2.73367004 8.20101013,8.20101013 C-2.73367004,19.1356903 -2.73367004,36.8643097 8.20101013,47.7989899 Z" id="Oval" stroke="#E4E4E4" stroke-width="2.26702739" fill="#FFFFFF" fill-rule="nonzero" stroke-linejoin="round"></path>
                    <text font-family="Inter-SemiBold, Inter" font-size="22.5999999" font-weight="500" line-spacing="36.1599998" fill="#161616">
                      <tspan x="21.3668679" y="36.04">7</tspan>
                    </text>
                  </g>
                  <g class="about-us-page-hwd-iterative__process-point" id="Point-6-disabled" transform="translate(769.179997, 276.849999)">
                    <circle id="Oval" stroke="#E4E4E4" stroke-width="2.26702739" fill="#FFFFFF" fill-rule="nonzero" stroke-linejoin="round" transform="translate(28.000000, 28.000000) rotate(90.000000) translate(-28.000000, -28.000000) " cx="28" cy="28" r="28"></circle>
                    <text font-family="Inter-SemiBold, Inter" font-size="22.5999999" font-weight="500" line-spacing="36.1599998" fill="#161616">
                      <tspan x="20.6766691" y="36.04">6</tspan>
                    </text>
                  </g>
                  <g class="about-us-page-hwd-iterative__process-point" id="Point-5-disabled" transform="translate(849.539997, 81.360000)">
                    <path d="M8.20101013,8.20101013 C-2.73367004,19.1356903 -2.73367004,36.8643097 8.20101013,47.7989899 C19.1356903,58.73367 36.8643097,58.73367 47.7989899,47.7989899 C58.73367,36.8643097 58.73367,19.1356903 47.7989899,8.20101013 C36.8643097,-2.73367004 19.1356903,-2.73367004 8.20101013,8.20101013 Z" id="Oval" stroke="#E4E4E4" stroke-width="2.26702739" fill="#FFFFFF" fill-rule="nonzero" stroke-linejoin="round"></path>
                    <text font-family="Inter-SemiBold, Inter" font-size="22.5999999" font-weight="500" line-spacing="36.1599998" fill="#161616">
                      <tspan x="20.8532316" y="36.04">5</tspan>
                    </text>
                  </g>
                  <g class="about-us-page-hwd-iterative__process-point" id="Point-4-disabled" transform="translate(1042.769996, 0.000000)">
                    <circle id="Oval" stroke="#E4E4E4" stroke-width="2.26702739" fill="#FFFFFF" fill-rule="nonzero" stroke-linejoin="round" cx="29.13" cy="28" r="28"></circle>
                    <text font-family="Inter-SemiBold, Inter" font-size="22.5999999" font-weight="500" line-spacing="36.1599998" fill="#161616">
                      <tspan x="20.4760299" y="36.04">4</tspan>
                    </text>
                  </g>
                  <g class="about-us-page-hwd-iterative__process-point" id="Point-3-disabled" transform="translate(1223.000000, 73.320000)">
                    <path d="M16.5510054,47.7989899 C27.4856856,58.73367 45.214305,58.73367 56.1489851,47.7989899 C67.0836653,36.8643097 67.0836653,19.1356903 56.1489851,8.20101013 C45.214305,-2.73367004 27.4856856,-2.73367004 16.5510054,8.20101013 C5.61632521,19.1356903 5.61632521,36.8643097 16.5510054,47.7989899 Z" id="Oval" stroke="#E4E4E4" stroke-width="2.2409696" fill="#FFFFFF" fill-rule="nonzero" stroke-linejoin="round"></path>
                    <text font-family="Inter-SemiBold, Inter" font-size="22.6" font-weight="500" line-spacing="36" fill="#161616">
                      <tspan x="28.6365412" y="36.04">3</tspan>
                    </text>
                  </g>
                  <g class="about-us-page-hwd-iterative__process-point" id="Point-2-disabled" transform="translate(1320.749995, 276.849999)">
                    <circle id="Oval" stroke="#E4E4E4" stroke-width="1.94316633" fill="#FFFFFF" fill-rule="nonzero" stroke-linejoin="round" cx="28" cy="28" r="28"></circle>
                    <text font-family="Inter-SemiBold, Inter" font-size="22.5999999" font-weight="500" line-spacing="36.1599998" fill="#161616">
                      <tspan x="20.9776279" y="36.04">2</tspan>
                    </text>
                  </g>
                  <g class="about-us-page-hwd-iterative__process-point" id="Point-1-disabled" transform="translate(1239.389995, 471.209998)">
                    <path d="M20.7699856,0.945752602 C5.84350429,4.9105992 -3.019094,20.3035331 0.945752602,35.2300144 C4.9105992,50.1564957 20.3035331,59.019094 35.2300144,55.0542474 C50.1564957,51.0894008 59.019094,35.6964669 55.0542474,20.7699856 C50.9727877,5.84350429 35.6964669,-3.019094 20.7699856,0.945752602 Z" id="Oval" stroke="#E4E4E4" stroke-width="2.26702739" fill="#FFFFFF" fill-rule="nonzero" stroke-linejoin="round"></path>
                    <text font-family="Inter-SemiBold, Inter" font-size="22.5999999" font-weight="500" line-spacing="36.1599998" fill="#161616">
                      <tspan x="22.5666904" y="36.04">1</tspan>
                    </text>
                  </g>
                  <circle id="Start-point-disabled" stroke="#000EE6" stroke-width="1.55424387" fill="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" cx="12.4299999" cy="582.43" r="12.4299999"></circle>
                </g>
              </g>
            </g>
          </g>
        </g>
      </svg>
      <svg id="Process-shape-active" width="1379px" height="753px" viewBox="0 0 1379 753" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Process-active" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="1920_how_we_deliver" transform="translate(-213.000000, -1671.000000)">
            <g id="Group-3" transform="translate(86.000000, 1460.000000)">
              <g id="Group-2" transform="translate(0.000000, 213.000000)">
                <g id="Shape" transform="translate(128.000000, 0.000000)">
                  <g transform="translate(12.000000, 28.120000)" stroke="#000EE6" stroke-linejoin="round">
                    <path class="about-us-page-hwd-iterative__process-line" d="M863.905379,469.911525 C914.168827,520.933115 984.086353,552.569998 1061.39494,552.569998 C1134.86016,552.569998 1204.36252,522.316496 1252.12,475.514937" id="Path-Pre-final-active" stroke-width="2.0308787" style="stroke-dasharray: 430.658; stroke-dashoffset: 430.658;"></path>
                    <path class="about-us-page-hwd-iterative__process-line" d="M784.299997,275.719999 C784.299997,351.371607 814.675728,419.939324 863.905379,469.911525" id="Path-7-active" stroke-width="2.0308787" style="stroke-dasharray: 215.292; stroke-dashoffset: 215.292;"></path>
                    <path class="about-us-page-hwd-iterative__process-line" d="M854.359997,91.5299996 C812.70519,137.433999 786.225362,197.321999 783.169997,263.289999" id="Path-6-active" stroke-width="2.0308787" style="stroke-dasharray: 189.693; stroke-dashoffset: 189.693;"></path>
                    <path class="about-us-page-hwd-iterative__process-line" d="M1047.59,0 C978.428597,2.93528074 915.868506,31.1747058 869.049997,75.7099997" id="Path-5-active" stroke-width="2.0308787" style="stroke-dasharray: 198.175; stroke-dashoffset: 198.175;"></path>
                    <path class="about-us-page-hwd-iterative__process-line" d="M1244.21,70.0599997 C1198.16283,29.0393622 1138.26077,3.04608694 1072.45,0" id="Path-4-active" stroke-width="2.0308787" style="stroke-dasharray: 189.15; stroke-dashoffset: 189.15;"></path>
                    <path class="about-us-page-hwd-iterative__process-line" d="M1336.86999,265.549999 C1334.21441,198.744188 1307.76074,138.030093 1265.68,91.5299996" id="Path-3-active" stroke-width="1.52315903" stroke-linecap="round" style="stroke-dasharray: 191.885; stroke-dashoffset: 0;"></path>
                    <path class="about-us-page-hwd-iterative__process-line" d="M1262.29,464.429998 C1306.44138,416.636972 1334.01056,353.387479 1335.73999,283.629999" id="Path-2-active" stroke-width="1.52315903" stroke-linecap="round" style="stroke-dasharray: 199.467; stroke-dashoffset: 0;"></path>
                    <path class="about-us-page-hwd-iterative__process-line" d="M-2.27373675e-13,553.88 C472.075722,553.88 957.720288,553.220273 1059.71384,553.220273 C1134.48202,553.220273 1202.34227,523.642286 1252.12,475.729998" id="Path-start-active" stroke-width="1.52315903" stroke-linecap="round" style="stroke-dasharray: 1272.33; stroke-dashoffset: 0;"></path>
                  </g>
                  <g class="about-us-page-hwd-iterative__process-point about-us-page-hwd-iterative__process-point--end" id="End-point-active" data-index="8" transform="translate(760.000000, 677.999997)" stroke-linejoin="round">
                    <path d="M10.48771,61.1268537 C24.4713234,75.110467 47.1432403,75.110467 61.1268537,61.1268537 C75.110467,47.1432403 75.110467,24.4713234 61.1268537,10.48771 C47.1432403,-3.49590335 24.4713234,-3.49590335 10.48771,10.48771 C-3.49590335,24.4713234 -3.49590335,47.1432403 10.48771,61.1268537 Z" id="Oval" stroke="#CCCFFA" stroke-width="1.11897756" fill="#FFFFFF" fill-rule="nonzero"></path>
                    <g id="icons/goal" transform="translate(16.903641, 18.903641)" stroke="#000EE6" stroke-linecap="round">
                      <g id="Group" transform="translate(1.491970, 0.000000)">
                        <line x1="14.7845083" y1="17.4781039" x2="21.5251854" y2="10.9221161" id="Stroke-133" stroke-width="1.11897756" fill-rule="nonzero"></line>
                        <polygon id="Stroke-135" stroke-width="1.11897756" fill-rule="nonzero" points="21.525347 10.9220348 22.4438693 5.02197128 27.6981076 1.25887884e-14 28.509994 4.12841684 32.7552311 4.91780464 27.5914717 10.0284803"></polygon>
                        <path d="M31.0242569,13.7874311 C32.7837481,20.2750595 30.0039459,27.1223884 24.1624027,30.6909096 C18.3200516,34.2594307 10.7715273,33.7215077 5.52698317,29.3627849 C0.282439069,25.0040622 -1.44150688,17.8360954 1.2720519,11.6666635 C3.98561069,5.49804537 10.5065534,1.76025342 17.3692155,2.43896418" id="Stroke-137" stroke-width="1.11897756" fill-rule="nonzero"></path>
                        <path d="M24.014809,15.7126422 C24.887284,19.1338652 23.4315433,22.716221 20.3908064,24.6335382 C17.3500695,26.5508554 13.3932338,26.3807708 10.5383018,24.2103612 C7.68336974,22.0391378 6.55884642,18.346105 7.73830335,15.0127726 C8.91695243,11.680254 12.1402628,9.44229884 15.7642654,9.43985744" id="Stroke-139" stroke-width="1.11897756" fill-rule="nonzero"></path>
                        <line x1="7.5048355" y1="30.6801674" x2="6.29144899" y2="35.4002182" id="Stroke-141" stroke-width="1.11897756" fill-rule="nonzero"></line>
                        <line x1="24.4904694" y1="30.6801674" x2="25.7038559" y2="35.4002182" id="Stroke-143" stroke-width="1.11897756" fill-rule="nonzero"></line>
                      </g>
                    </g>
                  </g>
                  <g class="about-us-page-hwd-iterative__process-point" id="Point-7-active" data-index="7" transform="translate(849.539997, 471.209998)">
                    <path d="M8.20101013,47.7989899 C19.1356903,58.73367 36.8643097,58.73367 47.7989899,47.7989899 C58.73367,36.8643097 58.73367,19.1356903 47.7989899,8.20101013 C36.8643097,-2.73367004 19.1356903,-2.73367004 8.20101013,8.20101013 C-2.73367004,19.1356903 -2.73367004,36.8643097 8.20101013,47.7989899 Z" id="Oval" stroke="#000EE6" stroke-width="2.26702739" fill="#FFFFFF" fill-rule="nonzero" stroke-linejoin="round"></path>
                    <text font-family="Inter-SemiBold, Inter" font-size="22.5999999" font-weight="500" line-spacing="36.1599998" fill="#161616">
                      <tspan x="21.3668679" y="36.04">7</tspan>
                    </text>
                  </g>
                  <g class="about-us-page-hwd-iterative__process-point" id="Point-6-active" data-index="6" transform="translate(769.179997, 276.849999)">
                    <circle id="Oval" stroke="#000EE6" stroke-width="2.26702739" fill="#FFFFFF" fill-rule="nonzero" stroke-linejoin="round" transform="translate(28.000000, 28.000000) rotate(90.000000) translate(-28.000000, -28.000000) " cx="28" cy="28" r="28"></circle>
                    <text font-family="Inter-SemiBold, Inter" font-size="22.5999999" font-weight="500" line-spacing="36.1599998" fill="#161616">
                      <tspan x="20.6766691" y="36.04">6</tspan>
                    </text>
                  </g>
                  <g class="about-us-page-hwd-iterative__process-point" id="Point-5-active" data-index="5" transform="translate(849.539997, 81.360000)">
                    <path d="M8.20101013,8.20101013 C-2.73367004,19.1356903 -2.73367004,36.8643097 8.20101013,47.7989899 C19.1356903,58.73367 36.8643097,58.73367 47.7989899,47.7989899 C58.73367,36.8643097 58.73367,19.1356903 47.7989899,8.20101013 C36.8643097,-2.73367004 19.1356903,-2.73367004 8.20101013,8.20101013 Z" id="Oval" stroke="#000EE6" stroke-width="2.26702739" fill="#FFFFFF" fill-rule="nonzero" stroke-linejoin="round"></path>
                    <text font-family="Inter-SemiBold, Inter" font-size="22.5999999" font-weight="500" line-spacing="36.1599998" fill="#161616">
                      <tspan x="20.8532316" y="36.04">5</tspan>
                    </text>
                  </g>
                  <g class="about-us-page-hwd-iterative__process-point" id="Point-4-active" data-index="4" transform="translate(1042.769996, 0.000000)">
                    <circle id="Oval" stroke="#000EE6" stroke-width="2.26702739" fill="#FFFFFF" fill-rule="nonzero" stroke-linejoin="round" cx="29.13" cy="28" r="28"></circle>
                    <text font-family="Inter-SemiBold, Inter" font-size="22.5999999" font-weight="500" line-spacing="36.1599998" fill="#161616">
                      <tspan x="20.4760299" y="36.04">4</tspan>
                    </text>
                  </g>
                  <g class="about-us-page-hwd-iterative__process-point" id="Point-3-active" data-index="3" transform="translate(1223.000000, 73.320000)">
                    <path d="M16.5510054,47.7989899 C27.4856856,58.73367 45.214305,58.73367 56.1489851,47.7989899 C67.0836653,36.8643097 67.0836653,19.1356903 56.1489851,8.20101013 C45.214305,-2.73367004 27.4856856,-2.73367004 16.5510054,8.20101013 C5.61632521,19.1356903 5.61632521,36.8643097 16.5510054,47.7989899 Z" id="Oval" stroke="#000EE6" stroke-width="2.2409696" fill="#FFFFFF" fill-rule="nonzero" stroke-linejoin="round"></path>
                    <text font-family="Inter-SemiBold, Inter" font-size="22.6" font-weight="500" line-spacing="36" fill="#161616">
                      <tspan x="28.6365412" y="36.04">3</tspan>
                    </text>
                  </g>
                  <g class="about-us-page-hwd-iterative__process-point is-active" id="Point-2-active" data-index="2" transform="translate(1320.749995, 276.849999)">
                    <circle id="Oval" stroke="#000EE6" stroke-width="1.94316633" fill="#FFFFFF" fill-rule="nonzero" stroke-linejoin="round" cx="28" cy="28" r="28"></circle>
                    <text font-family="Inter-SemiBold, Inter" font-size="22.5999999" font-weight="500" line-spacing="36.1599998" fill="#161616">
                      <tspan x="20.9776279" y="36.04">2</tspan>
                    </text>
                  </g>
                  <g class="about-us-page-hwd-iterative__process-point is-active" id="Point-1-active" data-index="1" transform="translate(1239.389995, 471.209998)">
                    <path d="M20.7699856,0.945752602 C5.84350429,4.9105992 -3.019094,20.3035331 0.945752602,35.2300144 C4.9105992,50.1564957 20.3035331,59.019094 35.2300144,55.0542474 C50.1564957,51.0894008 59.019094,35.6964669 55.0542474,20.7699856 C50.9727877,5.84350429 35.6964669,-3.019094 20.7699856,0.945752602 Z" id="Oval" stroke="#000EE6" stroke-width="2.26702739" fill="#FFFFFF" fill-rule="nonzero" stroke-linejoin="round"></path>
                    <text font-family="Inter-SemiBold, Inter" font-size="22.5999999" font-weight="500" line-spacing="36.1599998" fill="#161616">
                      <tspan x="22.5666904" y="36.04">1</tspan>
                    </text>
                  </g>
                  <circle id="Start-point-active" stroke="#000EE6" stroke-width="1.55424387" fill="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" cx="12.4299999" cy="582.43" r="12.4299999"></circle>
                </g>
              </g>
            </g>
          </g>
        </g>
      </svg>
      <p class="heading-5 font-semi-bold color-default about-us-page-hwd-iterative__process-start">
        Start of the project </p>
      <div class="about-us-page-hwd-iterative__process-steps">
        <div class="about-us-page-hwd-iterative__process-step about-us-page-hwd-iterative__process-step-0 is-disabled">
          <p class="heading-4 font-semi-bold color-default about-us-page-hwd-iterative__process-step-title">
            Use ← &amp; → arrow keys </p>
          <div class="paragraph-2 font-default color-primary about-us-page-hwd-iterative__process-step-description">
            (or click on the spots to play) </div>
        </div>
        <div class="about-us-page-hwd-iterative__process-step about-us-page-hwd-iterative__process-step-1 is-disabled">
          <p class="heading-4 font-semi-bold color-default about-us-page-hwd-iterative__process-step-title">
            Planning </p>
          <div class="paragraph-2 font-default color-muted text-inherit about-us-page-hwd-iterative__process-step-description">
            <p>defining scope, establishing approach, process, standards.</p>
          </div>
        </div>
        <div class="about-us-page-hwd-iterative__process-step about-us-page-hwd-iterative__process-step-2 is-disabled">
          <p class="heading-4 font-semi-bold color-default about-us-page-hwd-iterative__process-step-title">
            Analysis &amp; Design </p>
          <div class="paragraph-2 font-default color-muted text-inherit about-us-page-hwd-iterative__process-step-description">
            <p>requirements analysis, architecture design, detailed UX/UI design.</p>
          </div>
        </div>
        <div class="about-us-page-hwd-iterative__process-step about-us-page-hwd-iterative__process-step-3 is-enabled">
          <p class="heading-4 font-semi-bold color-default about-us-page-hwd-iterative__process-step-title">
            Development </p>
          <div class="paragraph-2 font-default color-muted text-inherit about-us-page-hwd-iterative__process-step-description">
            <p>implementation in sprints, developing potentially shippable products (increments).</p>
          </div>
        </div>
        <div class="about-us-page-hwd-iterative__process-step about-us-page-hwd-iterative__process-step-4 is-disabled">
          <p class="heading-4 font-semi-bold color-default about-us-page-hwd-iterative__process-step-title">
            Testing </p>
          <div class="paragraph-2 font-default color-muted text-inherit about-us-page-hwd-iterative__process-step-description">
            <p>validating User Stories, executing regression tests, raising defects.</p>
          </div>
        </div>
        <div class="about-us-page-hwd-iterative__process-step about-us-page-hwd-iterative__process-step-5 is-disabled">
          <p class="heading-4 font-semi-bold color-default about-us-page-hwd-iterative__process-step-title">
            Deployment </p>
          <div class="paragraph-2 font-default color-muted text-inherit about-us-page-hwd-iterative__process-step-description">
            <p>preparing a version for the client review.</p>
          </div>
        </div>
        <div class="about-us-page-hwd-iterative__process-step about-us-page-hwd-iterative__process-step-6 is-disabled">
          <p class="heading-4 font-semi-bold color-default about-us-page-hwd-iterative__process-step-title">
            Evaluation </p>
          <div class="paragraph-2 font-default color-muted text-inherit about-us-page-hwd-iterative__process-step-description">
            <p>demo of a given version and evaluation.</p>
          </div>
        </div>
        <div class="about-us-page-hwd-iterative__process-step about-us-page-hwd-iterative__process-step-7 is-disabled">
          <p class="heading-4 font-semi-bold color-default about-us-page-hwd-iterative__process-step-title">
            Next iteration </p>
          <div class="paragraph-2 font-default color-muted text-inherit about-us-page-hwd-iterative__process-step-description">
          </div>
        </div>
      </div>
      <p class="heading-5 font-semi-bold color-default about-us-page-hwd-iterative__process-end">
        Delivered to client </p>
    </div>
  </div>
  <div class="about-us-page-hwd-iterative__process-mobile" style="">
    <div class="tsh-container">
      <div class="tsh-row">
        <div class="tsh-col-12">
          <div class="about-us-page-hwd-iterative__process-mobile-step">
            <p class="about-us-page-hwd-iterative__process-mobile-number">
              1 </p>
            <p class="heading-5 font-semi-bold color-default about-us-page-hwd-iterative__process-mobile-title">
              Planning </p>
            <div class="paragraph-3 font-default color-muted text-inherit about-us-page-hwd-iterative__process-mobile-description">
              <p>defining scope, establishing approach, process, standards.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tsh-container">
      <div class="tsh-row">
        <div class="tsh-col-12">
          <div class="about-us-page-hwd-iterative__process-mobile-step">
            <p class="about-us-page-hwd-iterative__process-mobile-number">
              2 </p>
            <p class="heading-5 font-semi-bold color-default about-us-page-hwd-iterative__process-mobile-title">
              Analysis &amp; Design </p>
            <div class="paragraph-3 font-default color-muted text-inherit about-us-page-hwd-iterative__process-mobile-description">
              <p>requirements analysis, architecture design, detailed UX/UI design.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tsh-container">
      <div class="tsh-row">
        <div class="tsh-col-12">
          <div class="about-us-page-hwd-iterative__process-mobile-step">
            <p class="about-us-page-hwd-iterative__process-mobile-number">
              3 </p>
            <p class="heading-5 font-semi-bold color-default about-us-page-hwd-iterative__process-mobile-title">
              Development </p>
            <div class="paragraph-3 font-default color-muted text-inherit about-us-page-hwd-iterative__process-mobile-description">
              <p>implementation in sprints, developing potentially shippable products (increments).</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tsh-container">
      <div class="tsh-row">
        <div class="tsh-col-12">
          <div class="about-us-page-hwd-iterative__process-mobile-step">
            <p class="about-us-page-hwd-iterative__process-mobile-number">
              4 </p>
            <p class="heading-5 font-semi-bold color-default about-us-page-hwd-iterative__process-mobile-title">
              Testing </p>
            <div class="paragraph-3 font-default color-muted text-inherit about-us-page-hwd-iterative__process-mobile-description">
              <p>validating User Stories, executing regression tests, raising defects.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tsh-container">
      <div class="tsh-row">
        <div class="tsh-col-12">
          <div class="about-us-page-hwd-iterative__process-mobile-step">
            <p class="about-us-page-hwd-iterative__process-mobile-number">
              5 </p>
            <p class="heading-5 font-semi-bold color-default about-us-page-hwd-iterative__process-mobile-title">
              Deployment </p>
            <div class="paragraph-3 font-default color-muted text-inherit about-us-page-hwd-iterative__process-mobile-description">
              <p>preparing a version for the client review.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tsh-container">
      <div class="tsh-row">
        <div class="tsh-col-12">
          <div class="about-us-page-hwd-iterative__process-mobile-step">
            <p class="about-us-page-hwd-iterative__process-mobile-number">
              6 </p>
            <p class="heading-5 font-semi-bold color-default about-us-page-hwd-iterative__process-mobile-title">
              Evaluation </p>
            <div class="paragraph-3 font-default color-muted text-inherit about-us-page-hwd-iterative__process-mobile-description">
              <p>demo of a given version and evaluation.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tsh-container">
      <div class="tsh-row">
        <div class="tsh-col-12">
          <div class="about-us-page-hwd-iterative__process-mobile-step">
            <p class="about-us-page-hwd-iterative__process-mobile-number">
              7 </p>
            <p class="heading-5 font-semi-bold color-default about-us-page-hwd-iterative__process-mobile-title">
              Next iteration </p>
            <div class="paragraph-3 font-default color-muted text-inherit about-us-page-hwd-iterative__process-mobile-description">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



Resources1× 0.5× 0.25×Rerun
</body>
</html>